{% extends "base.html" %}

{% block content %}

<main role="main" class="container">
    <div align="center">
        <a href="/delta_minus" class="btn btn-warning">-</a>
        <a href="/ll_up" class="btn btn-warning"></a>
        <a href="/delta_plus" class="btn btn-warning">+</a>
    </div>
    <div align="center">
        <a href="/ll_left" class="btn btn-warning"></a>
        <button id="button"><img src={{image}}></button>
        <script>
            button.onclick = function(event) {
              a = (event.clientX+'; '+event.clientY);
              location.href = "/mouse_coords/"+a;
            };


        </script>
        <a href="/ll_right" class="btn btn-warning"></a>
    </div>
    <div align="center">
        <a href="/ll_down" class="btn btn-warning"></a>
    </div>
    <div>
        <a href="/change_type" class="btn btn-warning">🗺</a>
    </div>
    <div>
        <h3>
            Пауки на карте:
        </h3>
        <ul>
            {% for item in spider_list %}
            <font color="{{ colors[loop.index - 1] }}">
                <li>
                    <a href="/change_spider/{{ loop.index }}">{{ item }}</a>
                </li>
            </font>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}