{% extends "base.html" %}

{% block content %}

<main role="main" class="container">
    <div align="center">
        <a href="/delta_minus" class="btn btn-warning">-</a>
        <a href="/ll_up" class="btn btn-warning"></a>
        <a href="/delta_plus" class="btn btn-warning">+</a>
    </div>
    <div align="center">
        <a href="/ll_left" class="btn btn-warning"></a>
        <button id="button"><img src={{image}}></button>
        <script>
            button.onclick = function(event) {
              a = (event.clientX+'; '+event.clientY);
              location.href = "/mouse_coords/"+a;
            };

        </script>
        <a href="/ll_right" class="btn btn-warning"></a>
    </div>
    <div align="center">
        <a href="/ll_down" class="btn btn-warning"></a>
    </div>
    <div>
        <a href="/change_type" class="btn btn-warning">🗺</a>
        <a href="/points_done" class="btn btn-success">Подтвердить точки</a>
        <a href="/points_delete" class="btn btn-danger">Удалить точки</a>
    </div>
    <div>
        <h3>
            Паук на карте: {{ spider }}
        </h3>
    </div>
</main>
{% endblock %}